/*variables 0*/

$breakpoint-xs:0;

/*576px*/

$breakpoint-md:570px;

/*768px*/

$breakpoint-lg:768px;

/*1200px;*/

$breakpoint-xl:1200px;
$accent_color: red;
$gray:#e6e6e6;
$primary_color: #ececec;
$dark_color: #444;
$very_dark_color:#020202;
$light_color: #fff;
$font_family_sans_serif: "Libre Baskerville",
Times-new-roma,
Roboto,
Arial,
sans-serif;
$font_family_serif: Anton,
serif;
$sidebar_background_color: #1d1d1d;
$mask_text_color: #fff;